.ax 	{border:solid 2px #EDD191}
.ax td	{text-align:center;width:200px;vertical-align:middle;height:100px;border:solid 2px #EDD191}


body	{margin:0;scrollbar-arrow-color:#800000;scrollbar-base-color:#E7D29B;} 
.jtable 	{border-collapse: collapse; border: solid 3px #B58D69}
.jtable td 	{border: solid 3px #B58D69; padding: 2px}

table.simple td {border: 0px}

.top			{color:#495C79}
.quo			{color:#808080;font-style:italic;}
.date			{color:#a0a0a0}
.name			{color:#c00000}

.mytime			{color:#007100;background-color:#00FFAD;}
.mytime3			{color:#003500;background-color:#00FFAD;}
.mytime2			{color:#000071;background-color:#00ADFF;}
.mytime1			{color:#447144;background-color:#88FFDD;}

.gdate,.othtime	{color:#007100}
.acpage			{color:#8c0000;text-decoration:underline}
.bcstxt			{color:gray}

.title,.title	{font-family:Tahoma, Courier New, Times New Roman;color:#8c0000;vertical-align: middle;}
.title			{font-size:12pt;font-weight:bold}
.ctitle			{text-decoration:underline;font-weight:bold}
.ftitle     	{color:#434A63;font:bold 17px Arial, Verdana}


.bchk0,.bchk1,.bchk2	{width:15px;height:18px;border:solid 0px;color:transparent}
.bchk0	{background-image:url(img/bchk0.gif)}
.bchk1	{background-image:url(img/bchk1.gif)}
.bchk2	{background-image:url(img/bchk2.gif)}


/* ### btn */
a.mbtn{
	font-size:11px;
	font-family:Arial;
	font-weight:bold;
	text-transform: uppercase;
	color:#434A63;
	padding-top:11px;
	height:33px;
	text-decoration:none;
	width:100px
}

.info, .info:visited, .info:active, .info:hover {color:white !important;font-weight:bold;background-color:blue}
.ramka {position: relative; height: 36px; vertical-align: middle;}
.button {position: relative; height: 20px; vertical-align: middle; float: left;}
.button_left {position: relative; height: 20px; vertical-align: middle; text-align:center; float: left; width: 7px; background: url(i/left_mini_b.png) no-repeat;}
.button_right{position: relative; height: 20px; vertical-align: middle; text-align:center; float: left; width: 7px; background: url(i/right_mini_b.png) no-repeat;}
.button_middle{position: relative; height: 20px; vertical-align: middle; text-align:center; float: left; background: url(i/center_mini_b.png) repeat-x;}
/*.button b	{font:bold 11px Arial, Verdana} */
.button-a {position: relative; height: 20px; vertical-align: middle; float: left;}
.button_left-a {position: relative; height: 20px; vertical-align: middle; text-align:center; float: left; width: 7px; background: url(i/left_mini_b-a.png) no-repeat;}
.button_right-a{position: relative; height: 20px; vertical-align: middle; text-align:center; float: left; width: 7px; background: url(i/right_mini_b-a.png) no-repeat;}
.button_middle-a{position: relative; height: 20px; vertical-align: middle; text-align:center; float: left; background: url(i/center_mini_b-a.png) repeat-x;}


.button input
	{border:none;font:bold 11px Arial, Verdana; background: transparent;}
.button-a input
	{border:none;font:bold 11px Arial, Verdana; background: transparent;}

	
/*
.buttond1 button, .buttond1 input{
	background:transparent url(img/buttrd1.gif) repeat-y right;
	border:solid 0px;
	height:30px;
	color:#333366;
	font:bold 12px Arial, Verdana;
}
.mbutton,.mbutton b,.mbutton button,.mbutton input,.mbutton-a,.mbutton-a b,.mbutton-a button,.mbutton-a input 
	{height:29px;border:solid 0px}
.mbutton 	{background:transparent url(img/mbut.gif)}
.mbutton b	{background:transparent url(img/mbut-l.gif) repeat-y left}
.mbutton-a {background:transparent url(img/mbut-a.gif)}
.mbutton-a b{background:transparent url(img/mbut-ra.gif) repeat-y left}
.mbutton button,.mbutton input,.mbutton-a button,.mbutton-a input 
	{width:80px;	color:#333366;font:bold 12px Arial, Verdana;cursor:hand}
.mbutton button, .mbutton input{background:transparent url(img/mbut-r.gif) repeat-y right}
.mbutton-a button, .mbutton-a input{background:transparent url(img/mbut-la.gif) repeat-y right}

*/

/* ### stt */

*				{color:#000000;font-size:12px;font-family:Verdana,Arial,Helvetica,Tahoma,sans-serif;}
p,li			{text-align:justify}
table.collapse	{padding:0px;border-collapse:collapse;border:0px;}
table.fit		{width:100%;height:100%;}
.infoimg 			{position:relative;top:3px}

.msmall *{font:10px !important}
.hand 	*{cursor:hand}

/*b/chat*/
.mnu									{position:absolute;border:solid 1px navy}
.mnu .tdover,.mnu .tdout,.mnu .tdhead	{color:navy;cursor:default}
.mnu .tdout,.mnu .tdhead 	{background:#F1E7C9}
.mnu .tdover				{background:#F1DDA5}

/*arenat*/
td.final-v	 {border-left:solid 1px red}
td.common-v	 {border-left:solid 1px navy}
td.final-vh	 {border-left:solid 1px red;border-bottom:solid 1px red;vertical-align:bottom}
td.common-vh {border-left:solid 1px navy;border-bottom:solid 1px navy;vertical-align:bottom}
td.common	 {border-bottom:solid 1px navy}

.pers_armr, .pers_armr span	{color:#800;font:bold 12px Arial, Verdana;}
.inj 						{filter:alpha(opacity=60);-moz-opacity:.6;}

.bordo, .bordo *									{font: Arial, Verdana;}
.bordo a, .bordo a:visited, a, a:visited 			{text-decoration:none;FONT-WEIGHT:bold;color:navy;}
.bordo a:hover, a:hover, .bordo a:active, a:active	{color:#0066FF}

.f10			{font-size:10px}
.sm,.sm2,.nm	{font-size:12px}
.f15			{font-size:15px}
.bcbsml			{font-size:7pt}
h1				{font-size:15pt}

.c800				{color:#800}
.cnavy				{color:navy}
.too				{color:#000000;font-size:12px;font-weight:bold}
.menu				{color:#1F59B3;font-size:12px;font-weight:bold;}
.krit,.private,.sys	{color:red;    font-weight:bold}
.uvor,.green		{color:green;  font-weight:bold}
.otv				{color:#800;   font-weight:bold}
.luck,.blue,.hick	{color:blue;   font-weight:bold}
.newluck			{color:#0471d6 !important;   font-weight:bold}
.back				{color:#BC2EEA;font-weight:bold}

.s-0	{color:Navy    !important;font-style:italic;font-weight:normal !important}
.s-1	{color:#c00000 !important;font-style:italic;font-weight:normal !important}
.s-2	{color:#880088 !important;font-style:italic;font-weight:normal !important}
.s0		{color:Navy    !important;font-weight:bold}
.s1		{color:#c00000 !important;font-weight:bold}
.s2		{color:#880088 !important;font-weight:bold}

.rOr	{color:black;font-weight:bold}
.rEl	{color:green;font-weight:bold}
.rGn	{color:gray;font-weight:bold}
.rHb	{color:Maroon;font-weight:bold}
.rHm	{color:#BC2EEA;font-weight:bold}
.rDr	{color:red;font-weight:bold;}
.rAr    {color:#0066cc;font-weight:bold;}
.rAb    {color:#0800B9;font-weight: bold;}
.rWm	{color:black;font-weight:bold}

.jScrollPaneContainer {
	overflow: hidden;
	z-index: 2;
	position: relative; float: left; 
	height: 100%;
	width: 100%;
	background: transparent;
}
.jScrollPaneDrag {
	position: absolute;
	background: url(i/scrollmiddle.png) no-repeat;
	width: 21px;
	height: 21px !important;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	top: 21px;
	left: 600px;
	height: 100%;
	width: 21px;
	background: url(i/scrollbackground.png) repeat-y;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	height: 21px;
	background: url(i/arrowup.png) no-repeat;
}
a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 2;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	height: 21px;
	background: url(i/arrowdown.png) no-repeat;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	width: 21px;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	width: 21px;
	left: 0;
	overflow: hidden;
}

.submenu_mag {
position : absolute;
width: 260px;
display: none;
z-index: 10;
}

.simple_button  {
position: relative;
float: left;
width: 130px;
height: 26px;
background: url(i/simple_button.png) no-repeat;
}

.simple_button-a {
position: relative;
float: left;
width: 130px;
height: 26px;
background: url(i/simple_button-a.png) no-repeat;
}


.big_simple_button  {
position: relative;
float: left;
width: 260px;
height: 26px;
background: url(i/simple_button_big.png) no-repeat;
}


.zamkam  {
position: relative;
float: left;
width: 259px;
height: 26px;
background: url(i/zamkam_button.png) no-repeat;
}

.help {
position: relative;
width: 86px;
height: 28px;
left: 50px;
top: -1px;
overflow:hidden;
text-align: center;font-weight: bold;font-size: 10pt;font-family: Arial;
}

.int_txt {
position: relative;
width: 86px;
height: 16px;
left: 20px;
top: 4px;
overflow:hidden;
text-align: center;font-weight: bold;font-size: 10pt;font-family: Arial;
}

.int_txt-a {
position: relative;
width: 86px;
height: 16px;
left: 20px;
top: 4px;
overflow:hidden;
text-align: center;font-weight: bold;font-size: 10pt;font-family: Arial;
}

.big_int_txt {
position: relative;
width: 215px;
height: 16px;
left: 20px;
top: 4px;
overflow:hidden;
text-align: center;font-weight: bold;font-size: 10pt;font-family: Arial;
}

#reload {
position: relative;
width: 86px;
height: 28px;
background: url(i/reload.png) no-repeat;
float: left;
}

.topdiv {
position: relative;
float: left;
}
.clearfloat {
	clear: both;
}
.hr_decor {
position: relative;
width: 552px;
height: 15px;
background: url(i/hr.png) no-repeat;
}

.small_ramka {
position: relative;
width: 230px;
height: 178px;
background: url(i/ramka_pod_komnaty.png) no-repeat;
}

#VAL_nick {
text-align: left;
font-weight: bold;font-size: 15px;font-family: Arial; color: red;
vertical-align: middle;
overflow:hidden; float: left;
}
#VAL_race {
/*font-weight: bold;font-size: 15px;font-family: Arial; color: red; */
font-size:15px;
vertical-align: middle;
margin-left: 3px;
overflow:hidden; float: left;
}


#VAL_lvl {
vertical-align: middle;
text-align: center;font-weight: bold;font-size: 18pt;font-family: Arial; color: red;
position: relative; width: 42px; height: 26px; top: 7px; left: -17px;
overflow:hidden;
}

#PERS_books {
position: relative; float: left; width: 93px; height: 204px;
top: 14px; left: -56px; 
}
#BLC_pers {
position: absolute; float: left; width: 208px; height: 230px;
top: 12px; left: 50px;
}
#mana_hp {
position: relative; width: 100%; height: 100%;
background: url(i/mana_hp.png) no-repeat;
z-index: 5;
}

#VAL_rnk1 {
position: relative; float: both; left: 2px;
}
#IMG_mana {
position: relative; float: left; width: 20px; height: 1px; background: url(i/mana.jpg) ;
z-index: 2;
}
#IMG_hp {
position: relative; float: left; width: 20px; height: 1px; background: url(i/hp.jpg) ;
z-index: 2;
}
#VAL_mana {
position: relative; float: left; left: 2px; top: 188px;
}
#VAL_hp {
position: relative; float: right; left: -2px; top: 188px;
}
#IMG_pers {
position: absolute; left: 22px; top: 24px; height: 190px; width:165px;
z-index: 6;
}
#IMG_rarm {
position: relative; width: 75px; height: 50px; left: 5px; top: 9px; background: url(i/fistr.gif) no-repeat; 
}
#IMG_larm {
position: relative; width: 75px; height: 50px; left: 5px; top: 9px; background: url(i/fistl.gif) no-repeat; 
}

#INJ_h {
position: absolute; width: 29px; height: 27px; left: 16px;
background: url(i/mens/mh0.png);
}
#INJ_r {
position: absolute; width: 13px; height: 41px; top: 26px; left: 3px;
background: url(i/mens/mr1.png);
}
#INJ_b {
position: absolute; width: 27px; height: 39px; left: 16px; top: 27px;
background: url(i/mens/mb2.png);
}
#INJ_l {
position: absolute; width: 12px; height: 42px; left: 43px; top: 25px;
background: url(i/mens/ml1.png);
}
#INJ_f {
position: absolute; width: 25px; height: 48px; left: 17px; top: 66px;
background: url(i/mens/mf3.png);
}

#topmen {
position: relative; left: 125px; top: 42px; width: 59px; height: 103px; font-weight: bold;font-size: 12pt;font-family: Arial;
}
#mana {
position: relative; float: left;top: 83px; left: -43px; height: 120px; z-index:0;
display: block;
}
#hp {
position: relative; float: left;top: 84px; left: 121px; height: 120px; z-index:0;
display: block;
}
#ARMR_h {
position: absolute; top: -16px; left: 21px;
}
#ARMR_b {
position: absolute; top: 33px; left: -24px;
}
#ARMR_f {
position: absolute; top: 117px; left: 21px;
}
#ARMR_r {
position: absolute; top: 66px; left: -11px;
}
#ARMR_l {
position: absolute; top: 66px; left: 51px;
}
#BLC_par {
position: absolute; float: left; width: 208px; height: 230px;
left: 1px;
background: url(i/list.jpg);
}
#BLC_stat {
position: absolute; float: left; width: 208px; height: 230px;
left: 50px; top: 12px;
background: url(i/list.jpg);
z-index: 2;
}

#top_list {
position: relative; float: left; height: 52px;
background: url(i/middle_list_top.png) repeat-x;
}

#bot_list {
position: relative; float: left; height: 52px;
background: url(i/middle_list_bottom.png) repeat-x;
}


#left_list_middle {
position: relative; float: left; width: 42px;
background: url(i/left_list_middle.png) repeat-y;
}

#left_list_middle1 {
position: relative; float: left; width: 42px;
background: url(i/left_list_middle.png) repeat-y;
}

#middle_list {
position: relative; 
float: left; 
background: url(i/middle_list.jpg) repeat;
}

#middle_list1 {
position: relative; 
float: left; 
background: url(i/middle_list.jpg) repeat;
}


#right_list_middle {
position: relative; float: left; width: 40px;
background: url(i/right_list_middle.png) repeat-y;
}

#right_list_middle1 {
position: relative; float: left; width: 40px;
background: url(i/right_list_middle.png) repeat-y;
}
