.popup-wrap
  position: relative
  .popup
    position: absolute
    top: -40px
    left: 300px
    select
      background: none
      border: none
      width: 100%
    .popup-content
      background-image: url(https://kovcheg.apeha.ru/i/registration/middle_scrol.jpg)
      width: 352px